<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<style>
    a {font-size: 250%}
    p {font-size: 250%}
    a {display: inline}
    b {font-size: 250%}
    b {color: red}
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    table{text-align: center}
    table
    {
        margin-left: auto;
        margin-right: auto;
    }
    p {text-align: center}


</style>

<head>
    <meta charset="UTF-8">
    <title charset="UTF-8">Список пользователей</title>

</head>

<p charset="UTF-8">Список пользователей</p>
<table>
    <tr style="font-size: 300%">
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th></th>
    </tr>
    <th:block th:each="user : ${userlist}">
    <tr>
        <td><a th:href="@{/{id}/edit(id=${user.getId()})}" th:text="${user.getId()}">Text</a></td>
        <td><a th:href="@{/{id}/edit(id=${user.getId()})}" th:text="${user.getName()}">Text</a></td>
        <td><a th:href="@{/{id}/edit(id=${user.getId()})}" th:text="${user.getSurname()}">Text</a></td>
        <td><a th:href="@{/{id}/edit(id=${user.getId()})}" th:text="${user.getAge()}">Text</a></td>

        <td><form th:method="POST" th:action="@{/{id}/delet(id=${user.getId()})}" th:object="${user}"><input type="submit" value="Delet"></form></td>
    </tr>
    </th:block>
    <tr>
        <td></td>
    <td colspan="2">
        <a th:href="@{/new}" style="color:green">Add user</a>
    </td>
        <td colspan="2"></td>
    </tr>
</table>


</body>
</html>